
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bootstrap HTML5 Admin Template : Master</title>
	<!-- Bootstrap Styles-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
        <!-- Custom Styles-->
    <link href="assets/css/custom-styles.css" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                
                
                <a class="navbar-brand" href="/dashboard"><strong>s3.shubh</strong></a>
                <ul class="nav navbar-top-links navbar-right" style=" position:absolute;right: 0;">
                    <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                    </ul>
            </div>

           

        </nav>
        <!--/. NAV TOP  -->
      
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
		  <div class="header"> 
                        <h1 class="page-header">
                            Welcome <%= data.user.username %><br><small>Manage your buckets</small>
                        </h1>
					
									
		</div>
            <div id="page-inner"> 
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           Buckets
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th style="text-align: right;"><a href="/addBucket" style="font-size: 30px;">+</a>  </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (var l = bkl, i = 0; i < l; i++) { %>
                                            <tr>
                                            <td style="width: 100px;"><a href="/dashboard/<%= bkts[i] %>"><img src="https://image.flaticon.com/icons/svg/588/588019.svg" height="25px" alt=""></a> </td>
                                            <td><a href="/dashboard/<%= bkts[i] %>"><%= bkts[i] %></a></td>   
                                            <td style="width: 50px;"><a href="/delete/<%= bktid[i] %>"><img src="https://image.flaticon.com/icons/svg/216/216659.svg" height="20px" alt=""></a></td>    
 
                                            </tr>
                                        <% } %>
                                       
                                    </tbody>
                                </table>
                            </div>                        </div>
                       
                    </div>
                </div>
				</div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="assets/js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="assets/js/jquery.metisMenu.js"></script>
      <!-- Custom Js -->
    <script src="assets/js/custom-scripts.js"></script>
    
   
</body>
</html>
